*{
  border: 1px solid red;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  all:unset;
}

div.nav {
  position: relative;
  width: 100%;
  /* display: flex; */
  /* flex-flow: column; */
}
  div.nav img{
  }
  div.nav .links {
    /* justify-content: center; */
    width: 100%;
    position: absolute;
    z-index: 2;
    margin: 20px auto;
    top: 0;
  }
  div.nav .search{
    position: absolute;
    bottom: 0;
    margin: 20px auto;
    width: 100%;
  }
  div.nav a {
    background: rgba(233, 233, 233, 0.5);
    padding: 0, 0, 0, 20;
    display: inline-block;
    width: 60px;
    border-radius: 10px;
  }
  div.nav .search {
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 10px 0 10px 60px;
  }
    div.nav .search input {
      background: rgba(255, 255, 255, 0.671);
      height: 45px;
      width: 55%;
      border: 4px solid black;
      border-radius: 4px;
      padding: 12px 20px;
      margin: 2px;
      box-sizing: border-box;
    }


a.state-url {
  font-size: 28px;
  color: black;
}

a.trail-url {
  font-size: 28px;
  color: black;
}

div.state {
  background-color: rgb(222, 222, 222);
  margin: 5px;
  padding-bottom: 10px;
}

.nav {
  position: relative;
  width: 100%;
  /* list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
   */
}

.links {
  position: absolute;
  width: 100%;
  margin: 20px 5px;
  top: 0;
}

/* .nav a {
  float: left;
  margin: 5px;
} */

.links a {
  display: block;
  color: rgb(50, 46, 90);
  text-align: center;
  padding: 16px 30px;
  margin: 0 10px;
  text-decoration: none;
}

div.trail {
  display: flex;
  width: 100%;
  background-color: rgb(222, 222, 222);
  margin: 5px;
  padding-bottom: 10px;
}
  div.trail img {
    border-radius: 5px;
  } 
  .edit-toggle{
    padding: 10px;
    background: green;
    cursor: pointer;
  }
  .trail-edit{
    position: absolute;
    right: 0;
    padding: 40px;
    background: rgba(158, 157, 157, 0.952);
  }
  .trail-edit-card{
    background: purple;
  }
    .input-update-trail-description{
      width: 90%;
    }
/* div.trail-list {
  text-align: right;
} */

.trail-info-container {
  flex-grow: 2;
}
@media (max-width: 500px) {

}