.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

div.nav a {
  background: rgba(233, 233, 233, 0.733);
  padding: 0, 0, 0, 20;
  display: inline-block;
  width: 60px;
  border-radius: 10px;
}

.search {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 10px 0 10px 60px;
}

button {
  height: 45px;
  margin: 0 0 0 0;
  background-color: white;
  padding: 12px 20px;
  margin: 4px 2 2 2;
  display: inline-block;
  border: 4px solid black;
  border-radius: 4px;
  box-sizing: border-box;
}

input {
  height: 45px;
  width: 55%;
  border: 4px solid black;
  border-radius: 4px;
  padding: 12px 20px;
  margin: 2px;
  box-sizing: border-box;
}


a.city-url {
  font-size: 28px;
  color: black;
}

a.trail-url {
  font-size: 28px;
  color: black;
}

div.city {
  background-color: rgb(222, 222, 222);
  margin: 5px;
  padding-bottom: 10px;
}

div.trail {
  background-color: rgb(222, 222, 222);
  margin: 5px;
  padding-bottom: 10px;
}

.nav {
  position: relative;
  width: 100%;
  /* list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
   */
}

.links {
  position: absolute;
  width: 100%;
  margin: 20px 5px;
  top: 0;
}

/* .nav a {
  float: left;
  margin: 5px;
} */

.links a {
  display: block;
  color: rgb(50, 46, 90);
  text-align: center;
  padding: 16px 30px;
  margin: 0 10px;
  text-decoration: none;
}
